<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <a href="/">🏠 Dashboard</a>
    <a href="/films">🎬 Películas</a>
    <a href="/customers">👤 Clientes</a>
    <a href="/rentals">📦 Alquileres</a>
    <a href="/reports">📊 Reportes</a>
</nav>

<main>
	<div th:replace="~{${content}}"></div>

</main>

</body>
</html>
